{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "comma-dangle": "off",
    "object-curly-spacing": ["error", "always"],
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": false }],
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
